---
import contactInfo from '../lib/contact_info.json'
---

<section data-aos='zoom-in' class='w-full'>
	<ul class='text-sm flex flex-col lg:flex-row justify-end items-center sm:items-end [&>li]sm:ml-2 last:ml-2 pr-4 text-md mb-4 hover:[&>*]:underline'>
			<li>
				<a target='_blank' rel='noreferrer' href={`tel:${contactInfo.phone}`} class='pl-4 flex flex-row'>
					<p class='mt-2 lg:mt-0'>{contactInfo.phone}</p>
				</a>
			</li>
			<li>
				<a target='_blank' rel='noreferrer' href={`mailto:${contactInfo.email}`} class='pl-4 flex flex-row'>
					<p class='mt-2 lg:mt-0'>{contactInfo.email}</p>
				</a>
			</li><li>
				<a target='_blank' rel='noreferrer' href={`github.com/brahmvanh`} class='pl-4 flex flex-row'>
					<p class='mt-2 lg:mt-0'>{contactInfo.github}</p>
				</a>
			</li>
		</ul>
	</ul>
</section>
