---
import Nav from '../components/Nav';

import '../styles/microtip.css';
import siteMetadata from '../lib/site_metadata.json';
import MobileNav from '../components/MobileNav';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!-- structured data ideas for this site --><!-- https://webmasters.stackexchange.com/questions/104786/what-is-the-proper-schema-type-for-a-personal-portfolio --><!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Brahm Van Houzen Web Developer Personal Website' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<meta name='description' content={siteMetadata.description} />
		<meta name='og:url' content={siteMetadata.siteUrl} />
		<meta name='og:type' content='website' />
		<meta name='og:image' content={siteMetadata.image} />
		<meta name='og:title' content={siteMetadata.title} />
		<meta name='og:description' content={siteMetadata.description} />
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
			rel='stylesheet'
		/>
		<title>{title}</title>
	</head>
	<body>
		<div class='w-screen h-screen bg-transparent flex flex-col sm:flex-row items-center mt-4 sm:items-start sm:justify-center'>
			<Nav />
			<MobileNav client:load />
			<slot />
		</div>
		<script>
			import AOS from 'aos';
			import 'aos/dist/aos.css';

			document.addEventListener('DOMContentLoaded', () => {
				AOS.init({
					duration: 1000,
				});
			});
		</script>
	</body>
</html>
<style is:global>
	* {
		scrollbar-width: none;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	}
	html {
		font-family: 'Poppins', system-ui, sans-serif;
		font-weight: 400;
		background-image: url('../images/bg.png');
		scrollbar-width: none;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
